body{
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

header {
    background-color: rgb(106, 81, 81);
    width: 100%; 
    height: 8vh; 
    background: #202020!important;
    position: fixed;
    z-index: 1000;
}

.header-container {
    max-width: 1700px;
    width: 85%;
    height: 8vh;
    margin: 0 auto;
    display: flex;
    /* justify-content: space-around; */
    justify-content: space-between;
    align-items: center;
    /* position: relative; */
    /* position: fixed;
    z-index: 10; */
    
}

header .header-container .logo-img {
    width: 140px;
    height: auto;
    cursor: pointer;
}

header .header-container .navbar li{
    list-style: none;
}

header .header-container .navbar li a {
    text-decoration: none;
    color: white;
    font-size: 12px;
    position: relative;
}

header .header-container .navbar {
    display: flex;
    gap: 35px;
}

header .header-container .menu {
    display: flex;
    gap: 10px;
}

header .header-container .menu .zero-icon{
    font-weight: bold;
    filter: invert(1) brightness(2);
    cursor: pointer;
}

header .header-container .menu img{
    /* font-weight: bold; */
    color: white;
    filter: invert(1) brightness(2);
    cursor: pointer;
}

header .header-container .navbar li a::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px; /* Thickness of the underline */
    background: white; /* Color of the underline */
    position: absolute;
    left: 0;
    bottom: -2px; /* Adjust this value for spacing */
    transform: scaleX(0); /* Hide the line initially */
    /* transition: transform 0.3s;  */
    transition: 0.3s;
}

header .header-container .navbar li a:hover::after {
     transform: scaleX(1); 
}

.nav-icon{
    display: block !important;
    position: absolute !important;
    height: 1px !important;
    width: 100%;
    background: #e1e1e1;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    padding: 0 !important;
    transform: rotate(0);
    transition: .1s ease-in-out;
}


header .header-container .burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

header .header-container .burger .line {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px;
    transition: all 0.3s ease;
}

/* Hide navbar by default on small screens */
header .header-container .navbar {
    display: flex;
    gap: 35px;
}


.main .shop .shop-img {
    width: 100%;
    height: auto;
   
}

.shop {
    position: relative;
    /* display: inline-block; */
    margin-top: 75px;
}

.shop-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centering the text */
    color: white;
    text-align: center; /* Optional: Adds background to make text more visible */
    padding: 10px;
    width: 80%; /* Adjust the width of the text area */
    max-width: 600px; /* Optional: Limit the width */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shop-text .h1 {
    /* margin-bottom: 10px; */
    font-size: 35px;
    line-height: 1.5; 
    font-family: Montserrat,sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    margin: 1rem 0;
}

.shop-text .p1 {
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    /* font-weight: 200; */
    text-transform: uppercase;
    /* margin: 10px 20px; */
    margin-bottom: -15px ;
}

.shop-text .p2 {
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    /* font-weight: 200; */
    text-transform: uppercase;
    margin-top: -25px;
}

.shop-text .show-now {
    font-family: 'Arial', sans-serif;
    width: 80px;
    font-size: 14px;
    color: white;
    text-decoration: none;
    padding: 15px 21px;
    /* margin-bottom: 50px; */
    border: 1px solid white;
    border-radius: 1px;
    transition: background-color 0.3s ease;
}

.shop-text .show-now:hover {
    background-color: white;
    color: black;
    transition: 0.5s;
}

.second-main .card-container .card-text h2{
    font-size: 28px;
    line-height: 1.5;
    font-family: Montserrat,sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    margin: 1rem 0;
}

.second-main .card-container .card-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    /* font-size: 40px; */
    /* font-weight: bold; */
    /* text-transform: uppercase; */
    border-radius: 1px;
    transition: background-color 0.3s ease;
}

.second-main .card-container {
    position: relative;
    width: 500px;
    height: auto;
    overflow: hidden;
}

.second-main .card-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: filter 0.3s ease;
}

.second-main {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

.second-main .card-container h2 {
    position: relative;
    transition: transform 0.3s ease;
    text-align: center;
}


.second-main .card-container .underline {
    width: 0;
    height: 1px;
    background-color: white;
    margin-top: -15px;
    transition: width 0.5s ease;
}

.second-main .card-container .card-text .hover-text{
    display: none;
    font-size: 12px;
    margin-top: 20px;
    font-weight: 100;
    width: 80%;
    text-align: center;
    transition: opacity 1.2s ease 3s;
    opacity: 0; 
}

.second-main .card-container .card-text {
    background: rgba(0, 0, 0, 0.0);
}

.second-main .card-container:hover h2{
    transform: translateY(-10px); /* Moves the text up slightly */
}

.second-main .card-container:hover .underline {
    width: 40%;
}

.second-main .card-container .card-text:hover .hover-text {
    display: block; /* Reveals the hidden text */
    opacity: 1; 
}

.second-main .card-container:hover .card-text{
   background-color: rgba(0, 0, 0, 0.431);
   
}

.hot .products {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}



.hot .products {
    display: flex; 
    gap: 10px; /* 10px gap between each ski container */
    justify-content: center;
    margin-top: 20px;
    /* padding: 0 20px; */
}

.ski-container {
    max-height: 500px; /* Max height set to 400px */
    width: calc(720 / 936 * 400px); /* Dynamic width calculated based on the height ratio */
    overflow: hidden;
    display: flex;
    justify-content: baseline;
    align-items: baseline;
    position: relative;
    background-color: #f9f9f9;
    transition: transform 0.3s ease;
    /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); */
}

.ski-container img {
    max-height: 600px; /* Ensure the image stays within the max height */
    width: calc(720 / 936 * 380px); /* Dynamic width calculated similarly to the container */
    object-fit: cover; /* Ensures the image doesn't get distorted */
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.ski-container::before {
    content: '';
    position: absolute;
    bottom: 0; /* Start at the bottom */
    left: 0;
    right: 0;
    height: 60%;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
}


.ski-container:hover::before {
    opacity: 1; 
}

.default-img {
    z-index: 1;
}


.ski-container .hover-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Fixed image size */
    height: 100%;
    opacity: 0;
    z-index: 2;
    transition: opacity 0.5s ease, transform 3.5s ease;
}


.ski-container:hover .hover-img {
    opacity: 1;
    /* transform: scale(1);  */
    transform: scale(1.05); 
}

.ski-container:hover .default-img {
    opacity: 0;
}

.details {
    position: absolute;
    bottom: 0px;
    /* left: 10px; */
    color: #333;
    /* padding-left: 10px; */
    /* padding-right: 10px; */
    z-index: 3;
    /* background: linear-gradient(to top, rgba(51, 51, 51, 1), rgba(51, 51, 51, 0)); */
    /* width: 100%; */
     display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; 

}

.details .details-h2{
   font-family: Montserrat, sans-serif;
   font-weight: 900;
   text-transform: uppercase;
   font-size: 13px;
   margin-bottom: 8px;
   /* letter-spacing: 5px; */
   margin-left: 10px;
}


.details .details-p1{
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 900;
     margin: 0; 
     margin-left: 10px;
}

.details .details-p2 {
 font-family: 'Inter', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 900;
    margin: 0;
    margin-bottom: 10px;
    margin-left: 10px;
}

.details .details-div {
    display: flex;
     flex-direction: row; /* Stack elements vertically */
    gap: 20px;
    margin-bottom: 10px;
    align-items: start;
    top: 0;
}

.ski-container:hover .details {
   background: linear-gradient(to top, rgb(229, 229, 229), rgba(229, 229, 229, 1),rgba(229, 229, 229, 1),rgba(229, 229, 229, 0.9),rgba(229, 229, 229, 0.7),rgba(229, 229, 229, 0.4), rgba(229, 229, 229, 0));
}


.details .details-div .details-p {
   font-size: 11px;
    margin: 0;
    margin-left: 10px;
    /* margin-right: 10px; */
    
}

.details .details-div .details-price {
 font-size: 11px;
 font-weight: 900;
 margin: 0;

}

.hot hr {
  /* margin: 10px 0; */
  width:85%;
  height: 1px;
  background-color: #333;
  border: none;
  margin: 0 auto;
}


.hot .products .ski-container .details hr {
  /* margin: 10px 0; */
    width: 90%;
    height: 1px;
    background-color: #333;
    border: none;
    /* margin: 5px 0; */
    margin-bottom: 8px;
    padding-right: 10px;
    
}

.hot h1{ 
    font-family: Montserrat, sans-serif;
    font-weight: 900;
    font-style: normal;
    text-transform: uppercase;
    line-height: 1.5;
    color: #333;
    display: block;
    letter-spacing: 0px;
    text-rendering: optimizeLegibility;
    font-size: 26px;
    margin-bottom: .75em;
    text-align: center;
}

.factory {
    display: flex;
    justify-content: space-between;
    gap: 10px; /* Space between images */
    padding: 0 20px; /* Space on left and right */
    margin-top: 30px;
}

.image-container {
    position: relative;
    width: 50%; /* Adjust as needed */
    overflow: hidden;
}

.hover-img {
    width: 100%;
    transition: filter 0.5s ease; /* Transition for darkening the image */
    filter: brightness(1); /* Normal brightness */
}

.text-overlay {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: white;
    font-weight: bold;

}

.initial-text {
    font-size: 20px;
    margin: 0;
    color: white; /* Initial text color stays white */
    transition: transform 0.5s ease, color 0.5s ease; /* Transition for moving text */
    font-family: Montserrat, sans-serif;
    font-weight: 900;
    font-style: normal;
    text-transform: uppercase;
    display: block;
    letter-spacing: 0px;
    text-rendering: optimizeLegibility;
    font-size: 26px;
    text-align: center;
}

.hover-text {
    font-size: 11px; /* Space between initial and hover text */
    color: white;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.5s ease; /* Slow text appearance */
    font-family: 'Inter', sans-serif;
    font-weight: 100;
    margin-top: 15px; /* Space between the initial text and hover text */
    text-align: center;
}

.image-container:hover .hover-img {
    filter: brightness(0.5); /* Darkens the image */
}

.image-container:hover .initial-text {
    transform: translateY(-10px); /* Moves initial text slightly up */
}

.image-container:hover .hover-text {
    opacity: 1; /* Hover text appears */
}

/* Single underline effect for text - positioned between initial and hover text */
.line-between {
    content: '';
    display: block;
    width: 0px; /* Initially no line */
    height: 1px;
    background: white;
    margin: 5px auto; /* Ensures space between the two texts */
    transition: width 0.5s ease; /* Smooth line animation */
    /* margin-top: 15px; */
}

.image-container:hover .line-between {
    width: 350px; /* Line grows to full width on hover */
}

/* Footer styles */
.footer {
    background-color: #1c1c1c;
    color: white;
    padding: 20px 0;
    font-family: 'Montserrat', sans-serif;
    margin-top: 30px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    /* margin-bottom: 50px; */
}

.footer-column {
    width: 20%; /* Adjust to match space */
}

.footer-column h3 {
    font-weight: 900;
    font-size: 15px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 7px;
}

.footer-column ul li a {
    color: white;
    text-decoration: none;
    font-size: 11px;
}


.signup-column form {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
}

.signup-column input[type="email"] {
    padding: 10px;
    width: 91%;
    border: none;
    margin-bottom: 10px;
    font-size: 14px;
    /* margin-right: 10px; */
    
}

.signup-column button {
    padding: 10px;
    width: 100%;
    background-color: #333;
    color: white;
    border: none;
    font-size: 14px;
    cursor: pointer;
}

.signup-column button:hover {
    background-color: #d54d4d;
}

.social-icons {
    margin-top: 20px;
}

.social-icons a {
    color: white;
    margin-right: 10px;
    font-size: 20px;
}

.footer-bottom {
    text-align: center;
    /* padding: 10px 155px; */
    /* background-color: #121212; */
    margin-top: 20px;
    
}

.footer-bottom p {
    margin: 0;
    font-size: 12px;
}




@media (max-width:800px) {
    .header-container {
    width: 95%;
}

    .second-main {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

.second-main .card-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}


.main .shop .shop-img {
    width: 100%;
    height: 800px;
   /* position: absolute; */
  object-fit: cover;
}

.shop {
    position: relative;
    /* display: inline-block; */
    margin-top: 75px;
    height: 100%;
    width: auto;
}


.footer {
    background-color: #1c1c1c;
    color: white;
    padding: 20px 0;
    font-family: 'Montserrat', sans-serif;
    margin-top: 30px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    /* margin-bottom: 50px; */
}

.footer-column {
    width: 100%; /* Adjust to match space */
}

.footer-column h3 {
    font-weight: 900;
    font-size: 15px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 7px;
}

.footer-column ul li a {
    color: white;
    text-decoration: none;
    font-size: 11px;
}


.signup-column form {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
}

.signup-column input[type="email"] {
    padding: 10px;
    width: 97%;
    border: none;
    margin-bottom: 10px;
    font-size: 14px;
    /* margin-right: 10px; */
    
}

.signup-column button {
    padding: 10px;
    width: 100%;
    background-color: #333;
    color: white;
    border: none;
    font-size: 14px;
    cursor: pointer;
}

.signup-column button:hover {
    background-color: #d54d4d;
}

.social-icons {
    margin-top: 20px;
}

.social-icons a {
    color: white;
    margin-right: 10px;
    font-size: 20px;
}

.footer-bottom {
    text-align: center;
    /* padding: 10px 155px; */
    /* background-color: #121212; */
    margin-top: 20px;
    
}

.footer-bottom p {
    margin: 0;
    font-size: 12px;
}


}



@media (max-width:500px)  {
    .footer-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    /* margin-bottom: 50px; */
}
}


@media (max-width:1400px) {
.ski-container {
    max-height: 500px; /* Max height set to 400px */
    width: calc(720 / 936 * 400px); /* Dynamic width calculated based on the height ratio */
    overflow: hidden;
    display: flex;
    justify-content: baseline;
    align-items: baseline;
    position: relative;
    background-color: #E8E8e8;
    transition: transform 0.3s ease;
    /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); */
}

.ski-container img {
    max-height: 550px; /* Ensure the image stays within the max height */
    width: calc(720 / 936 * 350px); /* Dynamic width calculated similarly to the container */
    object-fit: cover; /* Ensures the image doesn't get distorted */
    transition: transform 0.5s ease, opacity 0.5s ease;
}
}


@media (max-width:1250px) {




.ski-container {
    max-height: 450px; /* Max height set to 400px */
    width: calc(720 / 936 * 400px); /* Dynamic width calculated based on the height ratio */
    overflow: hidden;
    display: flex;
    justify-content: baseline;
    align-items: baseline;
    position: relative;
    background-color: #E8E8e8;
    transition: transform 0.3s ease;
    /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); */
}

.ski-container img {
    max-height: 500px; /* Ensure the image stays within the max height */
    width: calc(720 / 936 * 300px); /* Dynamic width calculated similarly to the container */
    object-fit: cover; /* Ensures the image doesn't get distorted */
    transition: transform 0.5s ease, opacity 0.5s ease;
}



}



@media (max-width:1105px) {




.ski-container {
    max-height: 550px; /* Max height set to 400px */
    width: calc(720 / 936 * 450px); /* Dynamic width calculated based on the height ratio */
    overflow: hidden;
    display: flex;
    justify-content: baseline;
    align-items: baseline;
    position: relative;
    background-color: #E8E8e8;
    transition: transform 0.3s ease;
    /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); */
}

.ski-container img {
    max-height: 550px; /* Ensure the image stays within the max height */
    width: calc(720 / 936 * 250px); /* Dynamic width calculated similarly to the container */
    object-fit: cover; /* Ensures the image doesn't get distorted */
    transition: transform 0.5s ease, opacity 0.5s ease;
}



}


@media (max-width:1000px) {
    .header-container {
    width: 95%;
}

 header .header-container .burger{
        display: flex;
    }

    header .header-container .navbar {
        display: none; /* Initially hidden */
        flex-direction: column;
        background-color: #202020;
        position: absolute;
        top: 5vh;
        left: 0;
        width: 100%;
        padding: 20px;
    }

    /* Show navbar when active class is added */
    header .header-container .burger .navbar.active {
        display: flex;
    }


    .factory {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px; /* Space between images */
    padding: 0 20px; /* Space on left and right */
    margin-top: 30px;
}

.image-container {
    position: relative;
    width: 100%; /* Adjust as needed */
    overflow: hidden;
}




/* ///////// */
.details {
    position: absolute;
    bottom: 0px;
    /* left: 10px; */
    color: #333;
    /* padding:10px; */
    z-index: 3;
    width: 100%;
    /* background: linear-gradient(to top, rgba(51, 51, 51, 1), rgba(51, 51, 51, 0)); */
    /* width: 100%; */
     display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; 

}

.details .details-h2{
   font-family: Montserrat, sans-serif;
   font-weight: 900;
   text-transform: uppercase;
   font-size: 13px;
   margin-bottom: 8px;
   /* letter-spacing: 5px; */
}


.details .details-p1{
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 900;
     margin: 0; 
     display: none;
}

.details .details-p2 {
 font-family: 'Inter', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 900;
    margin: 0;
    margin-bottom: 10px;
    display: none;
}


.details .details-div {
    display: flex;
     flex-direction: row; /* Stack elements vertically */
    gap: 20px;
    margin-bottom: 10px;
    align-items: start;
    top: 0;
}

.ski-container:hover .details {
   background: linear-gradient(to top, rgb(229, 229, 229), rgba(229, 229, 229, 1),rgba(229, 229, 229, 1),rgba(229, 229, 229, 0.9),rgba(229, 229, 229, 0.7),rgba(229, 229, 229, 0.4), rgba(229, 229, 229, 0));
}


.details .details-div .details-p {
 display: none;
    
}

.details .details-div .details-price {
 font-size: 11px;
 font-weight: 900;
 margin: 0;
 margin-left: 10px;


}


.ski-container {
    max-height: 500px; /* Max height set to 400px */
    width: calc(720 / 936 * 450px); /* Dynamic width calculated based on the height ratio */
    overflow: hidden;
    display: flex;
    justify-content: baseline;
    align-items: baseline;
    position: relative;
    background-color: #E8E8e8;
    transition: transform 0.3s ease;
    /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); */
}

.ski-container img {
    max-height: 700px; /* Ensure the image stays within the max height */
    width: calc(720 / 936 * 450px); /* Dynamic width calculated similarly to the container */
    object-fit: cover; /* Ensures the image doesn't get distorted */
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.hot .products {
  display: flex;
  justify-content: space-between;
  margin-left: 120px;
  margin-right: 120px;
  flex-wrap: wrap;
  align-items: start;

}
}


@media (max-width:942px) {
    .hot .products {
  display: flex;
  justify-content: space-between;
  margin-left: 80px;
  margin-right: 80px;
  flex-wrap: wrap;
  align-items: start;

}
}


@media (max-width:883px) {
    .hot .products {
  display: flex;
  justify-content: space-between;
  margin-left: 50px;
  margin-right: 50px;
  flex-wrap: wrap;
  align-items: start;

}
}



@media (max-width:802px) {
    .hot .products {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
  flex-wrap: wrap;
  align-items: start;

}
}


@media (max-width:742px) {

    .hot .products {
  display: flex;
  justify-content: center;
  margin-left: 20px;
  margin-right: 20px;
  flex-direction: column;
  align-items: center;

}
    
}

/* When Navbar is Active (shown on click) */
header .header-container .navbar.active {
    display: flex;
}


